<%- include('include/_header')%>
<main id="site-main">
    <div class="container">
        <!-- <div class="box-nav d-flex justify-between">
            <a href="/add_user" class="border-shadow">
            <span class="text-gradient">new user <i class="fas fa-user"></i></span></a>
        </div> -->

        <form action="/all_user2" method="post">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>id</th>
                    <th>bfname</th>
                    <th>bfaddrss</th>
                    <th>gfname</th>
                    <th>gfaddrss</th>
                    <th>action</th>
                </tr>
                </thead>
                <tbody>
                    <%- include('include/_show2')%>
                </tbody>
                
            </table>
        </form>
    </div>
</main>
<%- include('include/_footer')%>