

<!-- this will be the landing page -->

<%- include('include/_mainheader')%>
<main  action="/" id="site-main">
     <!-- HERO -->
     <section class="hero hero-bg d-flex justify-content-center align-items-center">
               <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                              <div class="hero-text">

                                   <h1 class="text-white" data-aos="fade-up">We are ready to answer yours queries</h1>
                                   <p style="color: aliceblue; margin-block-end: auto;">In this big usiverse there is strong possibility</p>
                                   <p style="color: aliceblue;margin-block-end: auto;">that here can be same name couple</p>
                                   <p style="color: aliceblue;margin-block-end: auto;">of you and your love's name</p>

                                   <!-- <a href="contact.html" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Let us discuss together!</a> -->

                                   <strong class="d-block py-3 pl-5 text-white" data-aos="fade-up" data-aos-delay="200"><a href="/form"><button class="mbtn blue">Search-it</button></a> </strong>
                              </div>
                        </div>

                        <div class="col-lg-6 col-12">
                          <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                            <img src="/img/working-girl.png" class="img-fluid" alt="working girl">
                          </div>
                        </div>

                    </div>
               </div>
     </section>



</main>

<%- include('include/_footer2')%>