

<!-- this will be the landing page -->

<%- include('include/_mainheader')%>
<main  action="/" id="site-main">
     <!-- HERO -->
     <div class="container-fluid">
          <div class="row" style="height: 150px;"><h2 style="padding-left:30px; font-weight: 700 ;color: rgb(73, 26, 245);text-shadow: 1px 1px #31231b;">search-it</h2></div>
       <div class="row">
          <div class="col-sm-6" style="text-align:center;padding-bottom: 20px;">
               <font style="font-size: 20px;">
                    <h1>Hello!</h1>
               <p>Welcome to my Search-it website</p><br>
               <font style="font-size: 15px;">
                    We are ready to answer yours queries<br>
                    In this big usiverse there is strong possibility<br>
                    that here can be same name couple of you and your love's name</font>
               </font><br><br>
                    <a href="/form"><input type="submit" class="btn-info btn-lg active" name="Click Me" style="padding-top: 10px;" value="Search-it" /></a>
               <!-- <strong class="d-block py-3 pl-5 text-white" data-aos="fade-up" data-aos-delay="200"><a href="/form"><button class="mbtn blue">Search-it</button></a> </strong> -->
          </div>
          <div class="col-sm-6 moving" style="align-self: center;">
               <div class="moving-bg">
               <img class="img-responsive center-block" src="/img/Work_7c.jpg" style="border-radius: 10px 10px 10px 10px;height: 350px;" />
               <br>
               </div>
          </div>
       </div>
     </div>

</main>

<%- include('include/_footer')%>