
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <title>CRUD app</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link rel="stylesheet" href="/assets/css/style2.css">
</head>
<body>
    <!-- <header id="header">
        <nav>
         <div class="container">
             <div class=" text-center">
                 <a href="/" class="nav-brand text-dark">user management system</a>
                 
             </div>
        
         </div>
        </nav>
    </header> -->
<main id="site-main">
    <!-- <div class="container-center">
        <div class="text-center">
            <span class="text-gradient">sorry... as of now enough data is not available in our database. please try again later. thank you </span></a>
        </div>
    </div> -->
    <div>
        <aside><img src="/assets/img/Mar-Business_2.jpg" />
        </aside>
        <main>
          <h1>Sorry!</h1>
          <p>
            Either you aren't cool enough to visit this page or it doesn't exist <em>. . . like your social life.</em>
          </p>
          <button>You can go now!</button>
        </main>
      </div>
</main>
</body>
</html>