<%- include('include/_header2')%>
<div class="container-fluid">
	<div class="row" style="height: 0px;"><div class="col-sm-12"></div></div>
	<div class="row" style="padding-top: 150px;">
		<div class="col-sm-6">
			<img class="img-responsive center-block" src="/img/Mar-Business_2.jpg" style="border-radius: 10px 10px 10px 10px;height: 300px;" />
		</div>
		<div class="col-sm-6 font" style="text-align: center;">
			<h1>Sorry!</h1>
				<br><p>
            Either you aren't cool enough to visit this page or it doesn't exist <em>. . . like your social life.</em>
          </p>
          <a href="#"><button class="btn-info btn-lg active">You can go now!</button></a> 
		</div>
	</div>
	
</div>
<%- include('include/_footer')%>


<!-- after submitting form this page will show -->