<%- include('include/_header2')%>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6" style="height: 625px; background-color: white; ">
      <div class="row" style="background-color: white; height: 150px;"></div>
      <div class="row" style="background-color: white;">
        <div class="col-sm-2"></div>
        <div class="col-sm-8"><img src="/img/Mar-Business_2.jpg" style="height:325px;align-items: left;"/></div> <!--Just Change the Link of the image -->
        <div class="col-sm-2"></div>
      </div>
      <div class="row" style="background-color: white; height: 150px;"></div>
    </div>
    <div class="col-sm-6" style="height: 625px; background-color: white;">
      <div class="row" style=" height: 150px;"></div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8" style="text-align: center;">
          <h1>Sorry!</h1><br>
          <p>
              Either you aren't cool enough to visit this page or it doesn't exist <em>. . . like your social life.</em>
            </p>
            <a href="#"><button>You can go now!</button></a>     <!--Paste the link in place of #-->
        </div>
        <div class="col-sm-2"></div>
      </div>
      <div class="row" style="height: 150px;"></div>
    </div>
  </div>
  </div>
<%- include('include/_footer')%>


<!-- after submitting form this page will show -->