<form action="/api/users" method="POST" id="form">
    <div class="field padding-bottom--24">
      <label for="bfname">Boy friend's name</label>
      <input type="hidden" name="id" value="">
      <input type="text" name="bfname" value="" placeholder="eg: rahul">
    </div>
    <div class="field padding-bottom--24">
        <label for="bfaddrss">Address</label>
        <input type="text" name="bfaddrss" value="" placeholder="eg: tripura,india">
      </div>
      <div class="field padding-bottom--24">
        <label for="gfname">Girl friend's name</label>
        <input type="text" name="gfname" value="" placeholder="eg: rohini">
      </div>
      <div class="field padding-bottom--24">
        <label for="gfaddrss">Address</label>
        <input type="text" name="gfaddrss" value="" placeholder="eg: mumbai,india">
      </div>

    <div class="field padding-bottom--24">
        <a href="/output"><input type="submit" name="submit" value="Continue"></a>
      
    </div>

  </form>