<form action="/api/users" method="POST" id="form">
    <div class="field padding-bottom--24">
      <label for="name">Your unique name</label>
      <input type="hidden" name="id" value="">
      <input type="text" name="name" value="" placeholder="eg: rahul" required>
    </div>
    <div class="field padding-bottom--24">
        <label for="email">Email</label>
        <input type="text" name="email" value="" placeholder="eg: elon@gmail.com" required>
      </div>
      <div class="field padding-bottom--24">
        <label for="password">Password</label>
        <input type="text" name="password" value="" placeholder="eg: ********" required>
      </div>
      <div class="field padding-bottom--24">
        <label for="confirmpass">Confirm password</label>
        <input type="text" name="confirmpass" value="" placeholder="eg: ********" required>
      </div>

    <div class="field padding-bottom--24">
        <a href="/output"><input type="submit" name="submit" value="Continue"></a>
      
    </div>

  </form>