<!DOCTYPE html>
<html>
<head>
	<title>Search-it</title>
	<meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="icon" type="image/x-icon" href="images/favicon.ico" />
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<style type="text/css">
        @import url("https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Roboto:wght@500&display=swap");
            h1{
                font-family: "Fontdiner Swanky",cursive;
                color: #c5dc50;
                font-size: 70px;
            }
            p {
                  margin-bottom: 2.5rem;
                 padding-left: 4rem; 
                 margin: 1rem;
                 color: #4194fa;
                 font-size: 20px;
            }
            p em {
                 font-style: italic;
                 color: #e69893;
         
            }
            button {
                 font-family: "Fontdiner Swanky", cursive;
                 font-size: 18px;
                 color: #383838;
                border: none;
                 background-color: #f36a6f;
                 padding: 1rem 2.5rem;
                 transform: skew(-5deg);
                 transition: all 0.1s ease;
                 cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/cursors-eye.png"), auto;
                 margin: 1rem;
                 width: 250px;
                 height: 50px;
                }
            button:hover {
                 background-color: #c5dc50;
                 transform: scale(1.15);   
                }
        </style>
</head>
<body>